extends layout

block contents
  h3 Queues
  hr

  table.table.table-hover
    thead
      tr
        th Name
        th Queued tasks
        th Processed tasks
        th Failed tasks
    tbody
      if stats.length == 0
        tr
          td(colspan="4") Nothing were found
      else
        each row in stats
          tr
            td
              a(href="/queues/#{row.qname}")= row.qname
            td= addCommas(row.counters.queued)
            td= addCommas(row.counters.processed)
            td= addCommas(row.counters.failed)


