extends layout

block contents
  h3 Queues
  hr

  table.table.table-hover
    thead
      tr
        th Name
        th Queued tasks
        th Processed tasks
        th Failed tasks
    tbody
      if Object.keys(stats).length == 0
        tr
          td(colspan="4") Nothing were found
      else
        each res, qname in stats
          tr
            td
              a(href="/queues/#{qname}")= qname
            td= addCommas(stats[qname].counters.queued)
            td= addCommas(stats[qname].counters.processed)
            td= addCommas(stats[qname].counters.failed)


