doctype 5
html(lang="en")
  block head
    title Redisq

    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href="/bootstrap/css/bootstrap.min.css", media="all", rel="stylesheet", type="text/css")
    link(href="/bootstrap/css/bootstrap-responsive.min.css", media="all", rel="stylesheet", type="text/css")
    link(href="/css/common.css", media="all", rel="stylesheet", type="text/css")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/js/common.js")

  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.brand(href="/") Redisq
          ul.nav.pull-left
            li
              a(href="/",title="Dashboard")
                span Queues

    .container.mainbody
      block contents

    //- hr
    //- footer
    //-   .container
    //-     p.muted.pull-right
    //-       a(href="https://github.com/runk/redisq") redisq